# Xcode
DerivedData/
build/
*.xcuserstate
*.xcuserdata/
*.xcuserdatad/
*.moved-aside
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
# SwiftPM
.swiftpm/
.build/
# CocoaPods
Pods/
# Carthage
Carthage/Build/
# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
# SPM
Package.resolved
